
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body, html{
    height: 100%;
    background-image:url("../img/backHome.jpg");
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    
    color: white;
}

.navbarHome{
    background-color: #012A4A !important;
    color: white;
    box-shadow: 2px 2px 4px #000000;
}

.dashboard{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none !important;
    padding: 1.0rem;
}

main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
main h5{
    color: white;
}
.cardPerson{
    border-radius: 15px !important;
    opacity: 0.9;
}
.cardUm{
    border-radius: 15px !important;
    background-color: #012A4A !important;
    opacity: 0.8;
}
.cardUm h2{
    font-size: 2.5rem !important;   
    color: white !important;
}
span{
    font-size: 3.0rem;
}
.btCor{
    background-color: #012A4A !important;
    color: white !important;
    border:none !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.3rem !important;
    margin: 5.rem;
}
.btCor:hover{
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: white !important;
}
footer{
    color: white !important;
}